.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 15px 0;
}

.infected {
  border-bottom: 10px solid var(--confirmed-opacity);
}

.recovered{
  border-bottom: 10px solid var(--recovered-opacity);
}

.deaths{
  border-bottom: 10px solid var(--deaths-opacity);
}