body {
	background-color: #FFF;
}

.container {
	width: 100%;
	max-width: 1100px;
	margin: 0 auto;
	display: flex;
	align-items: center;
	flex-direction: column;
}

.logo {
	width: 370px;
	margin: 50px 0 25px 0;
}

.containerCards {
	width: 50vw;  
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	margin-top: 20px;
}

.containerSource {
	margin-right: auto;
	margin-left: 10%;
}

h1 {
	margin-top: 15px;
	font-size: 1.7em;	
}

li {
	font-size: 0.7em;	
}

@media only screen and (max-width: 770px) {
	.container {
		margin: 0 2%;
	}

	.image {
		width: 100%;
	}

	.containerCards {
		width: 70%;
		flex-direction: column;    
	}

	.containerSource {
		margin-right: auto;
		margin-left: 2%;
	}
}

@media only screen and (max-width: 480px) {
	.containerCards {
		width: 100%;
		flex-direction: column;    
	}
}

@media only screen and (max-width: 370px) {
	h1 {
		font-size: 1.5em;
	}
}